<html lang="en" th:replace="base::layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin</title>
</head>
<body>
	<section>
		<div th:each="user:${users}">
			<div style="background: skyblue;">
				<h1 th:text="${user.getFirstName() + ' ' + user.getLastName()}"></h1>
				<p th:text="${user.getAddressLine1() +' ' +user.getAddressLine2()}"></p>

				<button th:if="${user.getStatus() == 'PENDING'}"
					th:href="@{'/manager/pending/' + ${user.getId()}}"
					class="btn btn-outline-info" disabled="disabled">PENDING</button>
				<a th:unless="${user.getStatus() == 'PENDING'}"
					th:href="@{'/manager/pending/' + ${user.getId()}}"
					class="btn btn-outline-info">PENDING</a>

				<button th:if="${user.getStatus() == 'INREVIEW'}"
					th:href="@{'/manager/inreview/' + ${user.getId()}}"
					class="btn btn-outline-primary" disabled="disabled">INREVIEW</button>
				<a th:unless="${user.getStatus() == 'INREVIEW'}"
					th:href="@{'/manager/inreview/' + ${user.getId()}}"
					class="btn btn-outline-primary">INREVIEW</a>

				<button th:if="${user.getStatus() == 'APPROVED'}"
					th:href="@{'/manager/approve/' + ${user.getId()}}"
					class="btn btn-outline-success" disabled="disabled">APPROVE</button>
				<a th:unless="${user.getStatus() == 'APPROVED'}"
					th:href="@{'/manager/approve/' + ${user.getId()}}"
					class="btn btn-outline-success">APPROVE</a>

				<button th:if="${user.getStatus() == 'REJECTED'}"
					th:href="@{'/manager/reject/' + ${user.getId()}}"
					class="btn btn-outline-danger" disabled="disabled">REJECT</button>
				<a th:unless="${user.getStatus() == 'REJECTED'}"
					th:href="@{'/manager/reject/' + ${user.getId()}}"
					class="btn btn-outline-danger">REJECT</a>
			</div>
			<br><br>
		</div>
	</section>
</body>
</html>