<html lang="en" th:replace="base::layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin</title>
</head>
<body>
	<section>
		<article class="media content-section" th:each="user:${users}">
			<img class="rounded-circle article-img"
				th:src="@{'/data/profile/'+${user.getProfilePicture()}}">
			<div class="media-body">
				<h2 th:text="${user.getFirstName() +' '+user.getLastName()}"></h2>
				<p class="article-content">
					Mobile - <small th:text="${user.getMobile()}"></small> Email - <small
						th:text="${user.getEmail()}"></small> Adhar - <small
						th:text="${user.getAdhar()}"></small>
				</p>

				<button th:if="${user.getStatus() == 'PENDING'}"
					th:href="@{'/manager/pending/' + ${user.getId()}}"
					class="btn btn-outline-info" disabled="disabled">PENDING</button>
				<a th:unless="${user.getStatus() == 'PENDING'}"
					th:href="@{'/manager/pending/' + ${user.getId()}}"
					class="btn btn-outline-info">PENDING</a>

				<button th:if="${user.getStatus() == 'INREVIEW'}"
					th:href="@{'/manager/inreview/' + ${user.getId()}}"
					class="btn btn-outline-primary" disabled="disabled">INREVIEW</button>
				<a th:unless="${user.getStatus() == 'INREVIEW'}"
					th:href="@{'/manager/inreview/' + ${user.getId()}}"
					class="btn btn-outline-primary">INREVIEW</a>

				<button th:if="${user.getStatus() == 'APPROVED'}"
					th:href="@{'/manager/approve/' + ${user.getId()}}"
					class="btn btn-outline-success" disabled="disabled">APPROVE</button>
				<a th:unless="${user.getStatus() == 'APPROVED'}"
					th:href="@{'/manager/approve/' + ${user.getId()}}"
					class="btn btn-outline-success">APPROVE</a>

				<button th:if="${user.getStatus() == 'REJECTED'}"
					th:href="@{'/manager/reject/' + ${user.getId()}}"
					class="btn btn-outline-danger" disabled="disabled">REJECT</button>
				<a th:unless="${user.getStatus() == 'REJECTED'}"
					th:href="@{'/manager/reject/' + ${user.getId()}}"
					class="btn btn-outline-danger">REJECT</a>
			</div>
		</article>
	</section>
</body>
</html>