<html lang="en" th:replace="base::layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Register</title>
</head>
<body>
	<section>	
		<form th:action="@{/register/step1}" method="post" th:object="${step1}">
		<legend class="border-bottom mb-4">Application Form</legend>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">First Name
					</label> <input type="text" class="form-control" th:value="${step1.getFirstName()}"
					th:classappend="${#fields.hasErrors('firstName')}?'is-invalid':''"
					name="firstName" required>
					<div th:each="e:${#fields.errors('firstName')}"
						class="invalid-feedback" th:text="${e}"></div>
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Last
					Name</label> <input type="text" class="form-control"
					th:value="${step1.getLastName()}"
					th:classappend="${#fields.hasErrors('lastName')}?'is-invalid':''"
					name="lastName" required>
					<div th:each="e:${#fields.errors('lastName')}"
						class="invalid-feedback" th:text="${e}"></div>
			</div>
			<button type="submit" class="btn btn-primary">Next</button>
		</form>
	</section>
</body>
</html>