<html lang="en" th:replace="base::layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Register</title>
</head>
<body>
	<section>	
		<form th:action="@{/register/step4}" method="post" th:object="${step4}">
		<legend class="border-bottom mb-4">Application Form</legend>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Date of Birth
					</label> <input type="date" class="form-control" th:value="${step4.getDateOfBirth()}"
					th:classappend="${#fields.hasErrors('dateOfBirth')}?'is-invalid':''"
					name="dateOfBirth" required>
					<div th:each="e:${#fields.errors('dateOfBirth')}"
						class="invalid-feedback" th:text="${e}"></div>
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Adhar Card
					</label> <input type="number" class="form-control" th:value="${step4.getAdhar()}"
					th:classappend="${#fields.hasErrors('adhar')}?'is-invalid':''"
					name="adhar" required>
					<div th:each="e:${#fields.errors('adhar')}"
						class="invalid-feedback" th:text="${e}"></div>
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">PAN Card
					</label> <input type="text" class="form-control" th:value="${step4.getPan()}"
					th:classappend="${#fields.hasErrors('pan')}?'is-invalid':''"
					name="pan" required>
					<div th:each="e:${#fields.errors('pan')}"
						class="invalid-feedback" th:text="${e}"></div>
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Voter Id Card
					</label> <input type="text" class="form-control" th:value="${step4.getVoterIdCard()}"
					th:classappend="${#fields.hasErrors('voterIdCard')}?'is-invalid':''"
					name="voterIdCard" required>
					<div th:each="e:${#fields.errors('voterIdCard')}"
						class="invalid-feedback" th:text="${e}"></div>
			</div>
			<button type="submit" class="btn btn-primary">Next</button>
		</form>
	</section>
</body>
</html>