@charset "ISO-8859-1";
body {
	background: rgb(245, 245, 245);
	color: #333333;
	margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

ul {
	margin: 0;
}

.bg-steel {
	background-color: rgb(159, 0, 4);
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.article-title {
	color: #444444;
}

a.article-title:hover {
	color: #428bca;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.profile-image img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 3px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}








.card-img-top {
    height: 300px
}

.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.pro-img {
    margin-top: -80px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

html body .m-b-0 {
    margin-bottom: 0px
}

h3 {
    line-height: 30px;
    font-size: 21px
}

.btn-rounded.btn-md {
    padding: 12px 35px;
    font-size: 16px
}

html body .m-t-10 {
    margin-top: 10px
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px
}

.m-t-20 {
    margin-top: 20px
}

.text-center {
    text-align: center !important
}



@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
}

.message {
  display: inline-block;
  line-height: 1.2;
  transition: line-height .2s, width .2s;
  overflow: hidden;
}

.message,
.hidden {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

.hidden {
  color: #FFF;
}