<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">  
<title th:text="${title}">Register</title>
</head>
<body>
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4" href="">Axis</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarToggle" aria-controls="navbarToggle"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
					<div class="navbar-nav mr-auto">

						<a class="nav-item nav-link" th:href="@{/}">Home</a> <a
							class="nav-item nav-link" th:href="@{/about}">About</a>

					</div>
					<!-- Navbar Right Side -->
					<div class="navbar-nav">

						<div sec:authorize="isAuthenticated()">
							<a class="nav-item nav-link" th:href="@{/user/dashboard}">Account</a>
						</div>
						<div sec:authorize="isAuthenticated()">
							<a class="nav-item nav-link" th:href="@{/logout}">Logout</a>
						</div>
						<div sec:authorize="!isAuthenticated()">
							<a class="nav-item nav-link" th:href="@{/login}">Login</a>
						</div>
						<div sec:authorize="!isAuthenticated()">
							<a class="nav-item nav-link" th:href="@{/register}">Register</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8">
				<div th:if="${session.message}" class="container">
					<div th:classappend="${'alert-'+session.message.getType()}"
						class="alert text-center" role="alert">
						<span th:text="${session.message.getBody()}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<div class="content-section">
					<div th:replace=${content}></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="content-section">
					<h3>Our Sidebar</h3>
					<p class='text-muted'>You can put any information here you'd
						like.
					<div th:each="item:${map}" class="list-group">
						<a class="list-group-item list-group-item-light btn btn-info"
							th:href="@{${item.value}}" th:text="${item.key}">Create Account</a> 
					</div>
					</p>
				</div>
			</div>
		</div>
	</main>
	 <script src="https://checkout.razorpay.com/v1/checkout.js" ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>