<html lang="en" th:replace="base::layout(~{::section})">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Register</title>
</head>
<body>
	<section>	
		<form th:action="@{/reset/verify/password}" method="post" th:object=${reset}>
		<legend class="border-bottom mb-4">Reset Password</legend>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Password
					</label> <input type="password" class="form-control"
					th:classappend="${#fields.hasErrors('password')}?'is-invalid':''"
					name="password" required>
					<div th:each="e:${#fields.errors('password')}"
						class="invalid-feedback" th:text="${e}"></div>
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Confirm Password
					</label> <input type="password" class="form-control"
					th:classappend="${#fields.hasErrors('confirmPassword')}?'is-invalid':''"
					name="confirmPassword" required>
					<div th:each="e:${#fields.errors('confirmPassword')}"
						class="invalid-feedback" th:text="${e}"></div>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-outline-info">Reset</button>
			</div>
		</form>
	</section>
</body>
</html>